<nav #nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">
    <!--<img [src]="home_image" width="30" height="30" class="d-inline-block align-top" alt="">-->
    {{home_title}}
  </a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNav"
          data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul *ngIf="data_array" class="navbar-nav">
      <li *ngFor="let arr of data_array" class="nav-item">
        <a [href]="arr.nav_link" class="nav-link">{{arr.nav_title}}</a>
      </li>
    </ul>
  </div>
</nav>
